body {
  margin: 0;
}
.wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.container {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.main {
  background: -webkit-gradient(linear,left top, left bottom,from(#e9ffed),to(#fff)) repeat-x top left;
  background: -webkit-linear-gradient(#e9ffed,#fff) repeat-x top left;
  background: linear-gradient(#e9ffed,#fff) repeat-x top left;
}

.df {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.tc {
  text-align: center;
}
.df.tc {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.link {
  padding: 30px;
  font-size: 24px;
  font-weight: 200;
  cursor: pointer;
}
.link.checked {
  background-color: #e9ffed;
  color: #4fa949;
}
.user-info {
  padding-top: 80px;
}
.avatar-content {
  width: 180px;
  height: 180px;
  cursor: pointer;
  background: url('./img/me.jpg') center / 180px;
  border-radius: 90px;
  -webkit-transition: -webkit-box-shadow .6s ease-in-out;
  transition: -webkit-box-shadow .6s ease-in-out;
  transition: box-shadow .6s ease-in-out;
  transition: box-shadow .6s ease-in-out, -webkit-box-shadow .6s ease-in-out;
  -webkit-box-shadow: 1px 2px 1px #888;
          box-shadow: 1px 2px 1px #888;
}
.avatar-content:hover {
  -webkit-box-shadow: 1px 5px 15px #888;
          box-shadow: 1px 5px 15px #888; 
}
.user-info-content-name {
  margin-top: 5px;
  font-size: 50px;
  font-weight: 200;
}
.user-info-content-area {
  font-size: 20px;
  font-weight: 200;
}
.user-desc-content {
  margin-top: 100px;
  text-align: left;
  font-size: 18px;
  font-weight: 200;
}